spring:
  http:
    encoding.charset: UTF-8
    encoding.force: true
  datasource:
    name: ykttest
    url: jdbc:mysql://47.92.97.192:3306/ykttest?useUnicode=true&&characterEncoding=utf-8&useSSL=false
    username: tys
    password: tysTYS
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    druid:
      initial-size: 3
      max-active: 20
      max-wait: 60000
      time-between-eviction-runs-millis: 60000
      filters: stat,wall,log4j
  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    password: null
    jedis:
      pool:
        max-active: 200
        max-idle: 10
        max-wait: -1
        min-idle: 0
    timeout: 1000